@use 'variables';


.wallet-container{
height: 800px;

    div{
    
        display: flex;
        align-items: center;
        padding: '40px';
        
        img{
            width: 100px;
           
        }
    }
}


